#reset {
	margin-bottom: 5px;
	display: block;
}

#scores input {
	width: 18%;
	font-size: 2rem;
}

.deduct {
	display: none;
}

.padding {
	padding: 0 5px;
}

.result {
	font-size: 4rem;
	font-weight: bolder;
}

.right {
	position: absolute;
	right: 0px;
	margin-right: 10px;
}

.github-fork-ribbon.right-bottom:before {
	background-color: #333;
}
